body {
    margin: 0;
    background: linear-gradient(rgb(80, 24, 24), rgb(15, 3, 3));
    color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(#d77d7d, rgb(118, 31, 31)); 
    border-bottom: 1px solid #282828; 
}

.header-content {
    display: flex;
}

.header-content img{
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(96, 21, 21);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-content img:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 25px rgba(170, 221, 141, 0.7);
}

.header-text {
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header-text h1 {
    margin: 0;
    font-size: 12px; 
    font-weight: bolder;
}

.header-text h2 {
    margin: 5px 0 0 0;
    font-size: 35px;
    color: #ffffff;
}

.header-text h3 {
    font-size: 13px;
    color: #ffffff;
}

.header-text h3 img{
    height:auto;
    width: 30px;
    border-radius: 20px;
    margin-right: 10px;

}

.about-song, .song-lyrics, .song-play {
    background-color: rgb(27, 7, 7);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    max-width: 900px;
    justify-content: center;
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.about-song h3 {
    text-align: center;
    font-size: 20px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #282828;
    padding-bottom: 5px;
}

.song-lyrics h3 {
    font-size: 25px;
    text-align: center;
}

p {
    margin: 0;
    text-align: center;
    font-size: 12px; 
    line-height: 1.6;
}

.song-play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbutton-container img {
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.playbutton-container img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
}